# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  tests:
    name: Test Suite
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - run: docker-compose pull

    - uses: satackey/action-docker-layer-caching@v0.0.8

    - name: Docker build step
      run: docker-compose up -d

    - uses: jakejarvis/wait-action@master
      with:
        time: '20s'
    
    - name: Run tests
      # Use -T parameter to avoid input device not being recognized 
      # https://github.com/docker/compose/issues/5696#issuecomment-425112003    
      run: docker-compose exec -T app python manage.py test
    
    - name: List running containers for debugging
      if: always()
      run: docker ps -a
    
    - name: Show logs for debugging
      if: always()
      run: docker-compose logs

#   run-linters:
#     name: Run linters
#     runs-on: ubuntu-latest

#     steps:
#       - name: Check out Git repository
#         uses: actions/checkout@v2

#       - name: Set up Python
#         uses: actions/setup-python@v1
#         with:
#           python-version: 3.6

#       - name: Install Python dependencies
#         run: pip install black flake8

#       - name: Run linters
#         uses: wearerequired/lint-action@v1
#         with:
#           github_token: ${{ secrets.github_token }}
#           # Enable linters
#           black: true
#           flake8: true
