{% load i18n %}

{% block subject %}
    {% blocktrans %}Password reset{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    {% trans "Please go to the following page and choose a new password:" %}

    {{ protocol }}://{{ domain }}/{{ url }}

    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

    {% trans "Thanks for using our site!" %}
    {% blocktrans with sitename=sitename%}
        Your {{ sitename }}-Team
    {% endblocktrans %}
{% endblock text_body %}
